/* sectionContainer.css */
/* .section-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Add the following style for the page main title */
.section-container h1 {
  font-size: 3rem; /* Adjust the font size as needed */
  color: #333; /* Adjust the color as needed */
  margin-bottom: 20px; /* Adjust the margin as needed */
}

/* .section-container-with-nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; Adjust this value as needed for padding around the rest of the page */
/* }

.section-container-with-nav > nav {
  /* padding: 0; /* Remove padding specifically for the Nav component */
/* } */ 