.brain-icon {
    width: 300px; /* Adjust the size as needed */
    height: 300px;
    background: url('images/lightbulb_icon.png') center/cover; /* Replace with the path to your brain icon image */
    transition: transform 0.3s, filter 0.3s;
    margin-bottom: 20px; /* Adjust margin-bottom as needed for larger screens */
    margin-top: 40px;
}
  
  .brain-icon:hover {
    transform: scale(1.1);
    filter: brightness(1.5);
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .brain-icon {
      width: 200px;
      height: 200px;
      margin-bottom: 15px;
      margin-top: 30px;
    }
  }
  
  /* Media query for even smaller screens */
  @media screen and (max-width: 480px) {
    .brain-icon {
      width: 150px;
      height: 150px;
      margin-bottom: 10px;
      margin-top: 20px;
    }
  }
  